*{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

:root{
    --primary-color:#1ABA1A;
    --secondary-color:#000000;
   
}
.header_content{
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.top_header{
    font-size: 12px;
    gap: 700px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.header_first{
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.75rem;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_second{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle_header{
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_fourth ul{
    /* font-size: 0.85px; */
    list-style: none;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.header_fourth ul li a{
    color: var(--secondary-color);
    font-size: 14px;
    text-decoration: none;
}
.inner_header{
    gap: 40px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.welcome_header{
    padding: 20px;
    margin-left: 20px;
    display: inline-flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.welc{
    margin-right: 20px;
}
.first_content_head a{
    list-style: none;
    text-decoration: none;
}
.icon-header{
    margin-top: 6vh;
    padding-left: 10px;

}
.first_content_head{
    gap: 3px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.header_body{
    margin: 3px;
    background-color: var(--primary-color);
    color: #000000;
    width: 100vw;
    height: 75px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    gap: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_data{
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    padding: 13px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    gap: 10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.header_data p{
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.head_ctn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    height: 14px;
    gap: 20px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.head_ctn h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    color: white;
}