*{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

:root{
    --primary-color:#1ABA1A;
    --secondary-color:#000000;
    --primary-bg:#FFFFFF;
   
}
body{
    background-color: #F5F5F5;
}
header{
    width: 99%;

}   
.header_content{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.top_header{
    font-size: 12px;
    gap: 700px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.header_first{
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.75rem;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_second{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle_header{
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_fourth ul{
    /* font-size: 0.85px; */
    list-style: none;
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.header_fourth ul li a{
    color: var(--secondary-color);
    font-size: 14px;
    text-decoration: none;
}
.inner_header{
    gap: 40px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.welcome_header{
    padding: 20px;
    margin-left: 20px;
    display: inline-flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.welc{
    margin-right: 20px;
}
.first_content_head a{
    list-style: none;
    text-decoration: none;
}
.icon-header{
    margin-top: 6vh;
    padding-left: 10px;

}
.first_content_head{
    gap: 3px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.header_body{
    margin: 3px;
    background-color: var(--primary-color);
    color: #000000;
    width: 100vw;
    height: 75px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    gap: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_data{
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    padding: 13px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    gap: 10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.search{
    border:none;
}
.header_data p{
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.head_ctn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    height: 14px;
    width: 55%;
    /* gap: 20px; */
    display: flex;
    /* flex-direction:row; */
    justify-content: space-evenly;
    align-items: center;
}
.head_ctn h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    color: white;
}

/* first section  */
#first_section{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(1fr);

}
.category-menu{
    background-color: #FFFFFF;
    margin-top:10px ;
    margin-left: 10px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;

}
.category-menu:hover{
    border: 1px solid #F5F5F5;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.category-menu h2{
    background-color: #FFFFFF;
    color: #F1352B;
    font-size: 0.85rem;
}
.category-menu p{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 0.78rem;
    font-weight: bold;
}

.center-content{
    width: 600px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}
.main-banner-wrapper { 
    height: 320px;
    background-image: url("slider3.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 40px;
}


.main-banner{
    background-color: #A1A4AD;
    margin-right:450px;
    max-width: 300px;
    color: #fff;

}
.main-banner h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A1A4AD;
    font-size: 2rem;
    margin-bottom: 10px;

}
.main-banner p{
    background-color: #A1A4AD;
    font-size: 0.75rem;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
} 
.banner-description{
    width: 200px;
    height: 20px;
    display: inline-block;
}
.banner-button {
    background-color: #A1A4AD;
    display: inline-block;
    margin-top: 75px;
    padding: 10px 18px;
    background: #fff;
    border-radius: 10px;
}
.banner-button a{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
/* cards  */
.promo-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.promo-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.promo-content_1,
.promo-content_2{
    height: 120px;
    padding: 20px;
    background-color: #A1A4AD;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.promo-content_1{
    margin-top: 10px;
    color:#000000;
    background-image: url("slider4.png");
    border-radius: 3px solid #FFFFFF;
    border-radius: 20px;
}
.first_sp{
    color: #1ABA1A;
}
.promo-content_1 h1{
    width: 120px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 15px;
}
.promo-content_1 a{
    width: 120px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 12px;
}

.promo-content_2{
    background-image: url("slider5.png");
}

.right_offers{
    width:324.98px;
    height:446px;
    margin: 10px;
    padding: 10px;
}
.data_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.watch-card{
   margin: 10px;
}
.watch-card{
    margin-top: 15px;
    color:#000000;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("slider6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.brand-name{
    color: #000000;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.watch-card a{
    color: #FFFFFF;
    background-color: #000000;
    height: 32px;
    width: 92px;
    border: 1px solid #333333;
    border-radius: 10px;
    text-decoration: none;
    font-size: 11px;
}

.camera-card{
    background-image: url("slider7.png");
}


/* section section css  */
.featured-section{
    width: 100%;
    margin: 5px;
    padding: 20px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    background-color: #FFFFFF;
    gap: 20px;
    box-sizing: border-box;
}
.featured-brands,
.top-categories{
    width: 100%;
    min-height: 226px;
    border: 2px solid rgb(248, 242, 242);
    border-radius: 10px;
}
.section-header{
    margin-top:15px;
    margin-left: 35px;
    display: flex;
    justify-content:space-around;
}
.section-header h2{
    margin-right: 200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.section-header p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.brand-row{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.category-list{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}

@media (max-width:600px) {
    .featured-section{
        grid-template-columns:1fr;
    }
    .section-header{
        flex-wrap: wrap;
    }
    .section-header h2{
        font-size: 1rem;
    }
    .brand-row{
        flex-wrap: wrap;
    }
    .category-list{
        flex-wrap: wrap;
    }
}
@media (max-width:900px){
    .featured-brands{
        flex-wrap: wrap;
    }
    
}


/* third section  */
.deal-section{
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}
.deal-main{
    width: 70%;
}

.deal-header{
    width: 100%;
    height: 62px;
    padding: 10px;
    background-color: #1ABA1A;
    border: 2px solid greenyellow;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal-header h2{
    background-color: #1ABA1A;
}
.deal-header p{
    background-color: #1ABA1A;
}
.deal-content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.deal-thumbnails{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 
.deal-image-box a{
    width:95px;
    height:60px;
    margin-left: 20px;
    background-color: #1ABA1A;
    border: 2px solid greenyellow;
    border-radius: 3px;
    text-decoration: none;

}
.deal-side-banners{
    width:30%;
    margin-top: 80px;
    margin-left: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width:600px){
    .deal-section{
        flex-wrap: wrap;
    }
}